<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome! Stnsl work by Jorge Sivil <jorge.sivil@gmail.com>{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script src="js/jquery-3.3.1.min.js" type="application/javascript"></script>
    <script src="js/jquery-ui.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="application/javascript"></script>
    <script src="js/main.js" type="application/javascript"></script>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
