.itemslist-item-image {
    max-width: 80px;
    max-height: 80px;
}

/* Remove ugly glowing / shadow after clicking of Bootstrap Buttons */
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

li > .media {
    margin-bottom: 15px;
}

.file {
    visibility: hidden;
    position: absolute;
}

/*
 * Styles for demo only
 */
body {
    background-color: #5c4084;
    margin: 50px;
}

main.container {
    background-color: #fff;
    padding: 40px 80px;
    border-radius: 8px;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    margin: 0 0 5px 0;
    text-align: center;
}

h4 {
    color: #a990cc;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 35px 0;
}

#btn-add-new-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

#card-create-new-item {
    margin-bottom: 30px;
}

ul.itemslist {
    margin: 20px;
}

.list-group-item:first-child {
    border-top: 1px solid rgba(0,0,0,.125) !important;
}