<li class="itemslist-item list-group-item" id="{{ itemId }}">
    <div class="media">
        <img class="mr-3 mg-fluid img-thumbnail itemslist-item-image"
             src="images/{{ itemImageId }}">
        <div class="media-body">
            <span class="badge badge-info">ID: {{ itemId }}</span>
            <p class="item-description">{{ itemDescription }}</p>
            <button type="button" class="btn btn-outline-primary btn-sm" data-btn-type="edit">
                <i class="fas fa-edit"></i> Edit
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm" data-btn-type="delete">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
        </div>
    </div>
</li>