{% extends 'base.html.twig' %}
{% block body %}
    <main role="main" class="container itemslist-container">
        <div class="itemslist-content">
            <h1>Simple Items List</h1>

            {% include 'main/new-item-form.html.twig' %}

            <div class="card" id="card-items-list">
                <div class="card-header">
                    Items list <span id="counter" class="badge badge-secondary">{{ itemsQuantity }}</span>
                </div>
                {% if itemsList is not null %}
                    <ul class="itemslist list-group" id="itemslist" data-id="{{ itemsList.id }}">
                        <p class="card-text">You can drag and drop the items to sort them.</p>
                        {% for item in itemsList.items %}
                            {% include 'items-list/item.html.twig'
                                with {'itemId': item.id, 'itemImageId': item.imageId, 'itemDescription': item.description}
                            %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}