<div class="card" id="card-create-new-item">
    <div class="card-header">
        Add new item
    </div>
    <div class="card-body">
        <form id="form-create-new-item" autocomplete="off">
            <div class="form-group">
                <label for="form-field-description">Description</label>
                <input type="text" name="description" maxlength="300" id="form-field-description" class="form-control" placeholder="Enter item description">
                <small class="form-text text-muted">Up to 300 characters.</small>
            </div>
            <div class="input-group">
                <input type="file" name="image" class="file">
                <input type="text" class="form-control input-lg" disabled placeholder="Upload Item image">
                <span class="input-group-btn">
                    <button class="browse btn btn-primary input-lg" type="button">
                        <i class="far fa-folder-open"></i> Browse
                    </button>
                </span>
            </div>
            <small class="form-text text-muted">Must be 320px (width) by 320px (height). Only JPEG, PNG or GIF.</small>
            <button type="submit" id="btn-add-new-item" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>